[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/osamirabo/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/osamirabo/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/osamirabo/nrf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/osamirabo/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/osamirabo/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/osamirabo/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/osamirabo/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/osamirabo/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/osamirabo/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = https://github.com/osamirabo/chf.git
[submodule "NFs/amf"]
	path = NFs/amf
	url = https://github.com/osamirabo/amf.git
